# --- GLOBAL / SYSTEM ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log

# Ignora ambientes virtuais e cache do Python
**/venv/
**/.venv/
**/env/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.python-version

**/*.gz
**/*.br